@model IEnumerable<TennisWebApp8.Models.BookingVM>

@{
    ViewData["Title"] = "BookingIndex";
}

<h1>Bookings</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id="tblData" class="table table-bordered edited-table">
    <thead>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.Coach)
                </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="form-inline">
                        <button type="submit"  class="btn btn-outline-danger" onclick=" return confirm('Are you sure you want to delete this booking?')">
                        Delete
                        </button>
                    </form >
                    
                </td>
            </tr>
        }
    </tbody>
</table>
